.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}

mat-toolbar {
  margin-bottom: 20px;
  .fill-remaining-space {
    flex: 1 1 auto;
  }
}

mat-chip {
  justify-content: space-between;
}

.selectTopping {
  width: 50%;
}

input {
  height: 50px;
}

.button-row{
  margin-top: 20px;
}

button {
  width: 100px !important;
}
